*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
docker/docker-monolith/infra/terraform/.terraform
docker/docker-monolith/infra/packer/variables.json
src/.env
machine-gitlab/terraform/.terraform
docker/.env
monitoring/mongodb_exporter
monitoring/stackdriver-exporter/docker-275410.json
